<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign up</title>
</head>
<body>

    <form action="/register" method="POST">
        <label for="email">email</label>
        <input type="text" name="email">

        <label for="password">password</label>
        <input type="password" name="password">

        <label for="name">Full name</label>
        <input type="text" name="Name">

        <label for="username">username</label>
        <input type="text" name="username">

        <button type="submit">Sign up</button>
    </form>
    
</body>
</html>