* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root{
    --main-bg-color: radial-gradient(#161616,#070707);
    --main-text-color: #ffffff;
    --color-light: #ffffff;
    --main-link-color: #FF7300;
    --main-link-hover-color: #0056b3;
    --main-font: 'Poppins', sans-serif;
    --main-color-grey: #D9D9D9;
    --nav-primary-color: #1a1a1a;
    --nav-secondary-color: #d4d4d4;
}


/* Omdat dit nu op de body staat, verplaatst de achtergrond kleur nu mee met de content, dit moet ik nog aanpassen */
body {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    background: var(--main-bg-color);
}
  
  
/*NavBar*/


nav {
    display: flex;
    position: sticky;
    top: 0;
    z-index: 1000;
    justify-content: space-between;
    background: var(--nav-primary-color);
    height: 7vh;
    align-items: center;
    margin: 1em;
    padding: 1em;
    border-radius: 1em;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    transition: all 0.5s ease-in-out;
}

    nav a {
        display: flex;
        text-decoration: none;
        gap: 0.2rem;
        padding: 0 0.8rem;
        align-items: center;
    }

    nav svg {
        width: 20px;
        transition: width 0.5s ease-in-out;
        fill: var(--nav-secondary-color);
    }

    nav > a svg {
        fill: var(--main-link-color);
        width: 30px;
    }

    nav > a p {
        font-size: 1.2em;
        color: var(--nav-secondary-color);
        transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
    }

    nav ul {
        display: flex;
        list-style: none;
        justify-content: flex-end; 
        width: auto;
        transition: all 0.5s ease-in-out;
    }

    nav p {
        white-space: nowrap;
        color: var(--main-text-color);
        font-weight: 400;
        font-size: .9em;
        padding: 0 4px;
        color: var(--nav-secondary-color);
        font-weight: 600;
    }

    nav > ul > li > a > p {
        position: relative;
        transition: opacity 0.5s ease-in-out;
    }

    nav > ul > li > a > p::before {
        content: "";
        position: absolute;
        left: 0;
        bottom: 0;
        width: 0;
        height: 2px;
        background-color: var(--nav-secondary-color);
        transition: width 150ms linear;
    }

    nav > ul > li > a > p:hover::before {
        width: 100%;
    }

@keyframes expandWidth {
    from {
        width: 85%;
    }
    to {
        width: 100%;
    }
}

@media (max-width: 700px) {
    nav > a {
        opacity: 0;
        transform: scale(0.4);
        position: absolute;
        transition: all 0.5s ease-in-out;
    }

    nav ul li a p {
        opacity: 0;
        transform: scale(0.4);
        position: absolute;
        transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
    }

    nav ul {
        width: 85%;
        margin-left: auto;
        justify-content: space-evenly;
        animation: expandWidth 0.5s ease-in-out forwards;
    }

    nav ul li a {
        padding: 0 1rem;
    }

    nav ul li a svg {
        width: 30px;
    }
}

@media (min-width: 701px) {
    nav > a {
        opacity: 1;
        transform: scale(1);
        position: static;
        transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
    }

    nav ul li a p {
        opacity: 1;
        transform: scale(1);
        position: static;
        transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
    }
}

/*LoginIn page*/

h1{
    font-family: var(--main-font);
    color: var(--color-light);
}

.login h1{
    text-align: left;
    padding-bottom: 20px;
}

.inner-login{
    text-align: left ;
    width: 40%;
    background-color: var(--nav-primary-color);
    padding: 3em;
    border-radius: 1em;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.login{
    display: flex;
    justify-content: center;
    align-items: center; 
    margin-top: 150px;
}


form{
    margin-top: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

form > button{
    padding: 10px;
    width: 100%;
    border: none;
    border-radius: 5px;
    background-color: var(--main-link-color);
    color: var(--color-light);
    font-family: var(--main-font);
    cursor: pointer;
    margin-bottom: 8px;
}

    label, input{
        border-radius: 5px;
        font-family: var(--main-font);
        width: 100%;
    }

    input{
        padding: 10px;
        margin-top: 10px;
        margin-bottom: 20px;
        width: 100%;
        border: white 2px solid;
        background: none;
        color: var(--main-text-color);
    }

    label{
        font-weight: 600;
        color: var(--main-text-color);
    }

    form > a{
        color: var(--main-text-color);
        text-decoration: underline;
        font-size: 14px;
    }


/* Instrument page */

.kop-instrument, .kop-genre{
    padding: 50px 70px 0;
}

.instrument-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* 4 kolommen */
    gap: 20px;
    padding: 35px 70px;
}

.instrument-button {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 150px;
    background-size: cover;
    background-position: center;
    border: none;
    border-radius: 10px;
    background-color: var(--nav-primary-color);
    color: var(--main-text-color);
    font-size: 1.2em;
    cursor: pointer;
    transition: .2s all ease;
}

.instrument-button:hover {
    transform: scale(1.05);
}

.instrument-button:active {
    transform: scale(0.95);
}

.instrument-button.selected {
    color: var(--main-link-color);
    border: #FF7300 2px solid;
}

#Electric-guitar{
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), 
              url('../images/electric-guitar.jpg');
  background-size: cover;
}

#Acoustic-guitar{
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), 
              url('../images/acoustic-guitar.jpg');
  background-size: cover;
}

#Bass-guitar{
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), 
              url('../images/bass-guitar.jpg');
  background-size: cover;
  background-position: bottom;
}

#Drums{
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), 
              url('../images/drums.jpg');
  background-size: cover;
}

#Piano{
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), 
              url('../images/Piano.jpg');
  background-size: cover;
}

#Ukelele{
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), 
              url('../images/ukelele.jpg');
  background-size: cover;
  background-position: bottom;
}

#Violin{
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), 
              url('../images/violin.jpg');
  background-size: cover;
}

#Saxophone{
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), 
              url('../images/saxophone.jpg');
  background-size: cover;
}

#Trumpet{
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), 
              url('../images/trumpet.jpg');
  background-size: cover;
}

#Flute{
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), 
              url('../images/flute.jpg');
  background-size: cover;
}

#Cello{
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), 
              url('../images/cello.jpg');
  background-size: cover;
}

#Accordion{
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), 
              url('../images/accordion.jpg');
  background-size: cover;
}
/* .selected{
    color: var(--main-link-color);
    border: #FF7300 2px solid; 
} */

/* .instrument-button:focus nog doen */

.progress-buttons {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.progress-buttons a {
    padding: 10px 20px;
    margin-bottom: 20px;
    border: none;
    border-radius: 5px;
    background-color: var(--main-link-color);
    color: var(--main-text-color);
    font-family: var(--main-font);
    font-size: 18px;
    text-decoration: none;

    display: flex;
}

.progress-buttons a >img{
    padding: 0 7px;
}

@media (max-width: 1200px) {
    .instrument-grid {
        grid-template-columns: repeat(3, 1fr); /* 3 kolommen */
    }
}

@media (max-width: 900px) {
    .instrument-grid {
        grid-template-columns: repeat(2, 1fr); /* 2 kolommen */
    }
}

@media (max-width: 600px) {
    .instrument-grid {
        grid-template-columns: 1fr; /* 1 kolom */

        /* progress buttons fixen */
    }
}

/* Difficulty page */

.level-grid {
    display: flex;  
    justify-content: center;
    gap: 20px;
    padding: 35px 70px;
    flex-direction: column;
    background-color: none;
    border-radius: 1em;
}

.level-btn{
    background-color: var(--nav-primary-color);
    color: var(--main-text-color);
    padding: 20px 70px;
    border: none;
    border-radius: 10px;
    font-family: var(--main-font);
    font-size: 1.2em;
    transition: .5s all ease;
}

.level-btn:hover {
    transform: scale(1.1);
}

.level-btn:active {
    transform: scale(0.95);
}

.level-btn.selected {
    color: var(--main-link-color);
    border: #FF7300 2px solid;
}

.level{
    display: flex;
    justify-content: center;
    align-items: center; 
}

.kop-difficulty{
    text-align: center;
    padding-bottom: 20px;
    padding-top: 60px;
}

.test input:focus{
    outline: none;
}

.ErrorMessage {
    color: var(--main-link-color);
    margin-bottom: 1em;
}

/* Genre page */

.genre-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* 4 kolommen */
    gap: 20px;
    padding: 35px 70px;
}

.genre-button {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 150px;
    background-size: cover;
    background-position: center;
    border: none;
    border-radius: 10px;
    background-color: var(--nav-primary-color);
    color: var(--main-text-color);
    font-size: 1.2em;
    cursor: pointer;
    transition: transform 0.2s;
}

.genre-button:hover {
    transform: scale(1.05);
}

.genre-button:active {
    transform: scale(0.95);
}

.genre-button.selected {
    color: var(--main-text-color);
    /* border: #FF7300 2px solid; */
    background-color: var(--main-link-color);
}
    






/* Home page */


.home{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: var(--main-text-color);

    padding: 10em;
}

.home a{
    padding: 8px 25px;
    border: none;
    border-radius: 5px;
    background-color: var(--main-link-color);
    color: var(--color-light);
    font-family: var(--main-font);
    font-size: 18px;
    cursor: pointer;
    margin-top: 20px;

    text-decoration: none;
}

.home p{
    font-size: 1.5em;
    padding: 20px;
    text-align: center;
}