* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root{
    --main-bg-color: radial-gradient(#161616,#070707);
    --main-text-color: #ffffff;
    --color-light: #ffffff;
    --main-link-color: #FF7300;
    --main-link-hover-color: #0056b3;
    --main-font: 'Poppins', sans-serif;
    --main-color-grey: #D9D9D9;
    --nav-primary-color: #242424;
    --nav-secondary-color: #d4d4d4;
}


/* Omdat dit nu op de body staat, verplaatst de achtergrond kleur nu mee met de content, dit moet ik nog aanpassen */
body {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    background: var(--main-bg-color);
    min-width: 450px;
}
  
  
/*NavBar*/
main {
    padding-top: 6em;
}

#menu-container.nav-up {
	top: -6em
}

#menu-container {
    position: fixed;
    width: 100%;
    min-width: 450px;
    top: 0;
    z-index: 1000;
    transition: top 0.5s linear;
    min-width: 450px;
}

    nav {
        display: flex;
        justify-content: space-between;
        background: var(--nav-primary-color);
        height: 4em;
        align-items: center;
        margin: 1em;
        padding: 1em;
        border-radius: 1em;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
        transition: all 0.5s ease-in-out;
    }

        nav a {
            display: flex;
            text-decoration: none;
            gap: 0.2rem;
            padding: 0 0.8rem;
            align-items: center;
            opacity: 1;
            transform: scale(1);
            position: static;
            transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
        }

        nav svg {
            width: 20px;
            transition: width 0.5s ease-in-out;
            fill: var(--nav-secondary-color);
        }

        nav > a svg {
            fill: var(--main-link-color);
            width: 30px;
        }

        nav > a p {
            font-size: 1.2em;
            color: var(--nav-secondary-color);
            transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
        }

        nav ul {
            display: flex;
            list-style: none;
            justify-content: flex-end; 
            width: auto;
            transition: all 0.5s ease-in-out;
        }

    nav p {
        white-space: nowrap;
        color: var(--main-text-color);
        font-weight: 400;
        font-size: .9em;
        padding: 0 4px;
        color: var(--nav-secondary-color);
        font-weight: 600;
    }

        nav > ul > li > a > p {
            position: relative;
            transition: opacity 0.5s ease-in-out;
            opacity: 1;
            transform: scale(1);
            position: static;
            transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
        }

        nav > ul > li > a > p::before {
            content: "";
            position: absolute;
            left: 0;
            bottom: 0;
            width: 0;
            height: 2px;
            background-color: var(--nav-secondary-color);
            transition: width 150ms linear;
        }

        nav > ul > li > a > p:hover::before {
            width: 100%;
        }

    @keyframes expandWidth {
        from {
            width: 80%;
        }
        to {
            width: 100%;
        }
    }

    @media (max-width: 750px) {
        nav > a {
            opacity: 0;
            transform: scale(0.4);
            position: absolute;
            transition: all 0.5s ease-in-out;
        }

        nav ul li a p {
            opacity: 0;
            transform: scale(0.4);
            position: absolute;
            transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
        }

        nav ul {
            margin-left: auto;
            justify-content: space-evenly;
            animation: expandWidth 0.5s ease-in-out forwards;
        }

        nav ul li a {
            padding: 0 1rem;
        }

        nav ul li a svg {
            width: 30px;
        }
    }

/*LoginIn page*/

h1{
    font-family: var(--main-font);
    color: var(--color-light);
}

.login h1{
    text-align: left;
    padding-bottom: 20px;
}

.inner-login{
    text-align: left ;
    width: 40%;
    background-color: var(--nav-primary-color);
    padding: 3em;
    border-radius: 1em;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.login{
    display: flex;
    justify-content: center;
    align-items: center; 
    margin-top: 120px;
    margin-bottom: 100px;
}

.form-links {
    display: flex;
    justify-content: space-between;
    padding-top: 1.5em;
}

.form-links a{
    color: var(--color-light);
    font-family: var(--main-font);
    font-size: .8em;
}


form{
    margin-top: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

form > button{
    padding: 10px;
    width: 100%;
    border: none;
    border-radius: 5px;
    background-color: var(--main-link-color);
    color: var(--color-light);
    font-family: var(--main-font);
    cursor: pointer;
    margin-bottom: 8px;
}

    label, input{
        border-radius: 5px;
        font-family: var(--main-font);
        width: 100%;
    }

    input{
        padding: 10px;
        margin-top: 10px;
        margin-bottom: 20px;
        width: 100%;
        border: white 2px solid;
        background: none;
        color: var(--main-text-color);
    }

    label{
        font-weight: 600;
        color: var(--main-text-color);
    }

    form > a{
        color: var(--main-text-color);
        text-decoration: underline;
        font-size: 14px;
    }


    @media (max-width: 1024px) {
        .inner-login {
            width: 60%; 
            padding: 2em; 
        }
    
        .login {
            margin-top: 100px; 
        }
    }
    

    @media (max-width: 768px) {
        .inner-login {
            width: 80%; 
            padding: 2em; 
        }
    
        .login {
            margin-top: 80px; 
        }
    }
    
    @media (max-width: 480px) {
        .inner-login {
            width: 90%; 
            padding: 2em; 
        }
    
        .login {
            margin-top: 50px; 
        }
    }

/* Instrument page */


.kop-instrument, .kop-genre {
    padding: 50px 70px 0;
}

.filter-container ul{
    display: grid;
    grid-template-columns: repeat(4, 1fr); 
    gap: 20px;
    padding: 35px 70px;
} 
    .filter-container li{
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;

        height: 150px;
        background-size: cover;
        background-position: center;
        border: none;
        border-radius: .8em;
        background-color: var(--nav-primary-color);
        color: var(--main-text-color);
        font-size: 1.2em;
        cursor: pointer;
        transition: .2s all ease;
    }
        .filter-container li:hover {
            transform: scale(1.05);
        }

.filter-container label {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    cursor: pointer;
    position: relative;
    border-radius: .8em;
}
    .filter-container input[type="checkbox"] {
        -webkit-appearance: none;
        appearance: none;
        border: none;
        position: absolute;
        cursor: pointer;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
    }
        .filter-container label:has(input[type="checkbox"]:checked) {
            color: var(--main-link-color);
            border: #FF7300 2px solid;
            transition: .2s all ease;
        }

        @media (max-width: 1024px) {
            .filter-container ul {
                grid-template-columns: repeat(3, 1fr); 
                padding: 20px 50px;
            }
        }
        
        @media (max-width: 768px) {
            .filter-container ul {
                grid-template-columns: repeat(2, 1fr); 
                padding: 15px 30px;
            }
        }
        
        @media (max-width: 480px) {
            .filter-container ul {
                grid-template-columns: 1fr; 
                padding: 10px 20px;
            }

            .kop-instrument, .kop-genre, .kop-difficulty {
                text-align: center; 
                padding: 15px 10px 0;
                font-size: 1.5rem; 
            }
        }

        /* Animatie filter opties */
        @keyframes fadeIn {
            from {
                opacity: 0;
                transform: translateY(20px); 
            }
            to {
                opacity: 1;
                transform: translateY(0); 
            }
        }
        
        .item {
            opacity: 0;
            transform: translateY(20px);
            transition: opacity 0.5s ease, transform 0.5s ease;
        }
        
        .item.animate {
            animation: fadeIn 0.5s ease forwards;
        }
        

/* .instrument-button:focus nog doen */

.progress-buttons {
    display: flex;
    justify-content: center;
    gap: 20px;
}
    .progress-buttons button {
        padding: 10px 20px;
        margin-bottom: 20px;
        border: none;
        border-radius: 5px;
        background-color: var(--main-link-color);
        color: var(--main-text-color);
        font-family: var(--main-font);
        font-size: 18px;
        text-decoration: none;

        display: flex;
    }
        .progress-buttons button > img{
            padding: 0 7px;
        }


/* Instrument images */
        #Electric-guitar{
            background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), 
                      url('../images/electric-guitar.jpg');
          background-size: cover;
        }

        #Acoustic-guitar{
            background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), 
                      url('../images/acoustic-guitar.jpg');
          background-size: cover;
        }
        
        #Bass-guitar{
            background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), 
                      url('../images/bass-guitar.jpg');
          background-size: cover;
          background-position: bottom;
        }
        
        #Drums{
            background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), 
                      url('../images/drums.jpg');
          background-size: cover;
        }
        
        #Piano{
            background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), 
                      url('../images/Piano.jpg');
          background-size: cover;
        }
        
        #Ukelele{
            background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), 
                      url('../images/ukelele.jpg');
          background-size: cover;
          background-position: bottom;
        }
        
        #Violin{
            background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), 
                      url('../images/violin.jpg');
          background-size: cover;
        }
        
        #Saxophone{
            background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), 
                      url('../images/saxophone.jpg');
          background-size: cover;
        }
        
        #Trumpet{
            background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), 
                      url('../images/trumpet.jpg');
          background-size: cover;
        }
        
        #Flute{
            background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), 
                      url('../images/flute.jpg');
          background-size: cover;
        }
        
        #Cello{
            background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), 
                      url('../images/cello.jpg');
          background-size: cover;
        }
        
        #Accordion{
            background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), 
                      url('../images/accordion.jpg');
          background-size: cover;
        }

/* Difficulty page */

.level{
    display: flex;
    justify-content: center;
    align-items: center; 
}

.kop-difficulty{
    text-align: center;
    padding-bottom: 20px;
    padding-top: 60px;
}

.test input:focus{
    outline: none;
}

.ErrorMessage {
    color: var(--main-link-color);
    margin-bottom: 1em;
}

.filter-container li:hover {
    transform: scale(1.05);
}
    .level-grid label:has(input[type="checkbox"]:checked) {
        color: var(--main-link-color);
        border: #FF7300 2px solid;
        transition: .2s all ease;
    }


.difficulty-container {
    display: flex !important;
    flex-direction: column;
    align-items: center;
} 
     .difficulty-container li {
        height: 100px;
        width: 80%;
        max-width: 500px;
    }

    .difficulty-container {
        display: flex;
        flex-direction: column; /* Zorg ervoor dat de items onder elkaar staan */
        align-items: center;
        gap: 20px; /* Ruimte tussen de items */
        padding: 20px;
        list-style: none; /* Verwijder standaard bullet points */
        margin: 0;
    }
    
    .difficulty-container li {
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100px;
        width: 80%; /* Zorg ervoor dat de items een breedte hebben */
        max-width: 500px; /* Maximale breedte */
        background-size: cover;
        background-position: center;
        border: none;
        border-radius: 10px;
        background-color: var(--nav-primary-color);
        color: var(--main-text-color);
        font-size: 1.2em;
        cursor: pointer;
        transition: transform 0.2s, border 0.2s;
    }
    
    .difficulty-container li:hover {
        transform: scale(1.05); /* Vergroot het item bij hover */
    }
    
    .difficulty-container label {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;
        cursor: pointer;
        position: relative;
        border-radius: 10px;
    }
    
    .difficulty-container input[type="checkbox"] {
        -webkit-appearance: none; /* Verwijder standaardstijl in WebKit-browsers */
        appearance: none; /* Verwijder standaardstijl in moderne browsers */
        border: none;
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        opacity: 0; /* Maak de checkbox onzichtbaar */
    }
        .difficulty-container label:has(input[type="checkbox"]:checked) {
            color: var(--main-link-color);
            border: #FF7300 2px solid;
            transition: .2s all ease;
        }
    


    @media (max-width: 1024px) {
    .filter-container ul {
        grid-template-columns: repeat(3, 1fr); /* 3 kolommen */
        padding: 20px 50px;
    }
}

/* Kleine schermen (mobiele telefoons) */
@media (max-width: 768px) {
    .filter-container ul {
        grid-template-columns: repeat(2, 1fr); /* 2 kolommen */
        padding: 15px 30px;
    }
}

/* Zeer kleine schermen */
@media (max-width: 480px) {
    .filter-container ul {
        grid-template-columns: 1fr; /* 1 kolom */
        padding: 10px 20px;
    }
}
    

/* Filter & Sorting page */
@keyframes filtersHidden {
    from {
        left: 0;
    }
    to {
        left: -100%;
    }
}

@keyframes filtersUnHidden {
    from {
        left: -100%;
    }
    to {
        left: 0;
    }
}

.filter-sort{
    display: flex;
    position: relative;
    max-width: 90%;
    margin: 0 auto;
    margin-top: 2em;
    justify-self: center;
    transition: all 0.5s ease-in-out;
}

#left-column {
    position: absolute;
    width: 18em;
    transition: width 0.5s ease-in-out;
}

    #left-column section {
        display: flex;
        flex-direction: column;
        background: var(--nav-primary-color);
        margin: 1em 0;
        padding: 2em;
        border-radius: 1em;
    }

        #left-column section h2 {
            color: var(--main-text-color);
            font-weight: 200;
            font-size: 2em;
        }

        #left-column section ul {
            list-style: none;
            padding: 1em 0;
        }

            #left-column section li {
                display: flex;
                align-items: center;
                height: 2em;
                gap: 1em;
                margin-bottom: 0.2em;
                transition: height 0.5s ease-in-out, visibility 0.5s;
            }

            #left-column section .hidden-option {
                visibility: hidden;
                height: 0;
                overflow: hidden;
                transition: height 0.5s ease-in-out, visibility 0.5s;
            }

                #left-column section li input {
                    appearance: none;
                    -webkit-appearance: none;
                    -moz-appearance: none;
                    width: 25px;
                    height: 25px;
                    border: none;
                    background-color: #ffffff;
                    margin: 0;
                    padding: 10px;
                }

                #left-column section li input:checked {
                    background-color: var(--main-link-color);
                }

                #left-column section li label {
                    color: var(--main-text-color);
                    font-weight: 200;
                    font-size: 1.3em;
                    transition: font-size 0.5s ease-in-out;
                }

            #left-column section button svg {
                transition: transform 0.5s ease-out;
            }
            
            #left-column section button p {
                transition: opacity 0.3s ease-out;
            }


        #left-column section button {
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: var(--main-link-color);
            color: var(--main-text-color);
            font-size: 1em;
            cursor: pointer;
            border: none;
            border-radius: .5em;
            width: 8em;
            height: 2em;
        }

        #left-column section button svg {
            fill: var(--main-text-color);
            width: 1em;
            margin-left: 0.5em;
        }

.right-column {
    flex: 1;
    min-width: 0;
    margin-left: 20em;
    transition: margin-left 0.5s ease-in-out;
}

.right-column > div {
    width: 100%;
}

    .right-column .selected-filters-container {
        margin-top: 1em;
    }

        .right-column .selected-filters-container h3 {
            visibility: hidden;
            height: 0;
            width: 0;
        }

        .right-column .selected-filters-container .selected-filter {
            background-color: var(--nav-primary-color);
            border-radius: 0.3em;
            color: var(--main-text-color);
            font-size: 1.3em;
            padding: 0.3em 0.5em;
            margin: 0 0.5em 0.5em 0;
            display: inline-flex;
            align-items: center;
            gap: 0.5em;
            transition: font-size 0.5s ease-in-out;
        }

        .right-column .selected-filters-container .selected-filter svg {
            width: 1.3em;
            fill: var(--nav-secondary-color);
            transition: width 0.5s ease-in-out;
        }

        .right-column .selected-filters-container .selected-filter svg:hover {
            fill: var(--main-link-color);
        }

    .right-column .sort-container {
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
        margin-top: 1em;
    }

    .right-column .sort-container button {
        background-color: var(--main-link-color);
        color: var(--main-text-color);
        font-size: 1.1em;
        font-weight: 400;
        padding: 0.5em 1em;
        border: none;
        border-radius: 0.3em;
        cursor: pointer;
        visibility: hidden;
        opacity: 0;
        transform: scale(0.5);
        transition: all 0.5s ease-in-out;
    }
        
    .right-column .sort-container .sort {
        display: flex;
        justify-content: end;
        align-items: center;
        gap: 1em;
    }

        .right-column .sort-container h3 {
            color: var(--main-text-color);
            font-weight: 400;
        }

        .right-column .sort-container #select-style {
            position: relative;
            display: inline-block;
        }

            .right-column .sort-container select {
                appearance: none;
                -webkit-appearance: none;
                -moz-appearance: none;

                background-color: var(--nav-primary-color);
                border: none;
                border-radius: 0.4em;
                padding: 0.5em 3em 0.5em 1em;
                color: var(--nav-secondary-color);
                font-size: 1.1em;
                cursor: pointer;
                box-shadow: none;
            }

            .right-column .sort-container select:focus {
                outline: none;
                cursor: pointer;
            }

            .right-column .sort-container #select-style svg {
                position: absolute;
                right: 1em;
                top: 50%;
                transform: translateY(-50%);
                transition: transform 0.3s ease;
                width: 1.3em;
                fill: var(--nav-secondary-color);
                pointer-events: none;
            }

            .right-column .sort-container #select-style.open svg {
                transform: translateY(-50%) rotate(180deg);
            }
    
    .right-column .results-container h3 {
        opacity: 0;
        height: 0;
    }

    .right-column .results-container .results-top-bar {
        display: grid;
        grid-template-columns: repeat(8, 1fr);
        border-bottom: 2px solid #5F5F5F;
        margin: 1em 0;
        height: 2em;
        transition: all 0.5s ease-in-out;
    }

        .right-column .results-container .results-top-bar span {
            color: #5F5F5F;
            font-weight: 400;
            font-size: 1.2em;
        }

        .right-column .results-container .results-top-bar span:nth-of-type(1) {
            grid-column: 1 / 4;
        }

        .right-column .results-container .results-top-bar span:nth-of-type(2) {
            grid-column: 4 / 6;
            display: flex;
            justify-content: center;
        }

        .right-column .results-container .results-top-bar span:nth-of-type(3) {
            grid-column: 6 / 7;
            display: flex;
            justify-content: center;
        }

            .right-column .results-container .results-top-bar span svg {
                height: 1em;
                fill: #5F5F5F;
            }

    .right-column .results-container .song {
        display: grid;
        grid-template-columns: repeat(8, 1fr);
        margin-bottom: 1em;
    }

        .right-column .results-container .song .song-info-container {
            grid-column: 1 / 4;
            display: flex;
            align-items: center;
            gap: 1em;
        }

            .right-column .results-container .song .cover {
                height: 6em;
                width: 6em;
                border-radius: 1em;
                transition: all 0.5s ease-in-out;
            }

            .right-column .results-container .song .song-info {
                display: flex;
                flex-direction: column;
            }

                .right-column .results-container .song .song-info-container span {
                    color: var(--main-text-color);
                    font-weight: 600;
                    font-size: 1.2em;
                }

                .right-column .results-container .song .song-info-container span:nth-of-type(2) {
                    font-weight: 300;
                    font-size: 1em;
                }

        .right-column .results-container .song .date-added {
            grid-column: 4 / 6;
            display: flex;
            align-items: center;
            justify-content: center;
            color: var(--main-text-color);
        }

        .right-column .results-container .song .duration {
            grid-column: 6 / 7;
            display: flex;
            align-items: center;
            justify-content: center;
            color: var(--main-text-color);
        }

        .right-column .results-container .song .actions {
            grid-column: 7 / 9;
            display: flex;
            align-items: center;
            justify-content: end;
            gap: 1em;
        }

            .right-column .results-container .song .actions button {
                display: flex;
                align-items: center;
                justify-content: center;
                flex-shrink: 0;
                height: 4em;
                width: 4em;
                background-color: var(--main-link-color);
                border: none;
                border-radius: 50%;
                cursor: pointer;
            }

            .right-column .results-container .song .actions button.playUnavailable {
                opacity: 0.5;
                cursor: not-allowed;
            }

                .right-column .results-container .song .actions button svg {
                    fill: var(--main-text-color);
                    width: 1.7em;
                }

    .right-column #pagination {
        display: flex;
        justify-content: center;
        gap: 0.5rem;
        margin: 2em 0;
    }

        .right-column #pagination button {
            appearance: none;
            color: var(--main-text-color);
            background: none;
            border: none;
            font-size: 1.2em;
            font-family: var(--main-font);
            cursor: pointer;
        }

        .right-column #pagination button.active {
            border-bottom: 2px solid var(--main-text-color);
            scale: 1.2;
        }

        .right-column #pagination button.previousBtn, .right-column #pagination button.nextBtn {
            fill: var(--main-link-color);
            width: 1em;
        }

        .right-column #pagination button.previousBtn {
            rotate: 90deg;
        }

        .right-column #pagination button.nextBtn {
            rotate: -90deg;
        }

        .right-column #pagination button:disabled {
            opacity: 0.5;
            cursor: not-allowed;
        }

@media (max-width: 1100px) {
    .filter-sort{
        margin-top: 1em;
        transition: all 0.5s ease-in-out;
    }
    
    #left-column {
        width: 16em;
        transition: width 0.5s ease-in-out;
    }

        #left-column section li label {
            font-size: 1.2em;
            transition: font-size 0.5s ease-in-out;
        }

    .right-column .selected-filters-container .selected-filter {
        font-size: 1.1em;
        transition: font-size 0.5s ease-in-out;
    }

    .right-column .selected-filters-container .selected-filter svg {
        width: 1.1em;
        transition: width 0.5s ease-in-out;
    }

    .right-column {
        margin-left: 18em;
        transition: margin-left 0.5s ease-in-out;
    }
    
        .right-column .results-container .results-top-bar {
            grid-template-columns: repeat(6, 1fr);
        }

            .right-column .results-container .results-top-bar span:nth-of-type(1) {
                grid-column: 1 / 3;
            }

            .right-column .results-container .results-top-bar span:nth-of-type(2) {
                grid-column: 3 / 5;
                justify-content: center;
            }

            .right-column .results-container .results-top-bar span:nth-of-type(3) {
                grid-column: 5 / 7;
                justify-content: end;
            }

        .right-column .results-container .song {
            display: grid;
            grid-template-columns: repeat(6, 1fr);
            margin-bottom: 1em;
        }

            .right-column .results-container .song .song-info-container {
                grid-column: 1 / 5;
                grid-row: 1 / 3;
                flex-direction: column;
                align-items: start;
                gap: 1em;
            }

                .right-column .results-container .song .song-info {
                    grid-column: 1 / 5;
                }

            .right-column .results-container .song .date-added {
                grid-column: 3 / 5;
                grid-row: 1 / 2;
                align-items: start;
            }

            .right-column .results-container .song .duration {
                grid-column: 5 / 7;
                grid-row: 1 / 2;
                align-items: start;
                justify-content: end;
            }

            .right-column .results-container .song .actions {
                grid-column: 5 / 7;
                grid-row: 2 / 3;
                align-items: end;
            }
}

@media (max-width: 750px) {
    body.no-scroll {
        overflow: hidden;
        height: 100%;
    }
    
    .filter-sort {
        position: relative;
        margin-top: 0.5em;
        transition: all 0.5s ease-in-out;
    }
    
    #left-column {
        z-index: 500;
        width: 50%;
        height: 90vh;
        padding-bottom: 2em;
        min-width: 16em;
        overflow-y: auto;
        scrollbar-width: none;
        -ms-overflow-style: none;
        animation: filtersHidden 0.5s ease-in-out forwards;
    }

    .filter-sort .filterMenuClosed, .filter-sort .filterMenuOpen {
        display: flex;
        position: fixed;
        justify-content: end;
        top: 0;
        height: 100%;
        width: 100%;
        z-index: 250;
    }
    
    .filter-sort .filterMenuClosed {
        left: -100%;
        background-color: rgba(0, 0, 0, 0);
        transition: background-color 0.5s ease-in-out, left 0s ease-in-out 0.5s;
    }

    .filter-sort .filterMenuOpen {
        left: 0;
        background-color: rgba(0, 0, 0, 0.7);
        transition: background-color 1s ease-in-out, left 0s ease-in-out;
    }

        .filter-sort > div:nth-of-type(3) > button {
            display: flex;
            align-items: center;
            justify-content: center;
            margin-top: 9em;
            margin-right: 5%;
            flex-shrink: 0;
            height: 4em;
            width: 4em;
            background-color: var(--main-link-color);
            border: none;
            border-radius: 50%;
            cursor: pointer;
        }

        .filter-sort .filterMenuClosed button {
            opacity: 0;
            transform: scale(0.5);
            transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
        }

        .filter-sort .filterMenuOpen button {
            opacity: 1;
            transform: scale(1);
            transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
        }

            .filter-sort > div:nth-of-type(3) > button svg {
                stroke: var(--color-light);
                stroke-linecap: round;
                stroke-linejoin: round;
                stroke-width: 2;
                width: 1.7em;
            }

    #left-column.showFilterMenu {
        transition: all 0.5s ease-in-out;
        animation: filtersUnHidden 0.5s ease-in-out forwards;
    }

    .right-column {
        display: flex;
        justify-content: end;
        width: 100%;
        margin-left: 0;
        transition: margin-left 0.5s ease-in-out;
    }

    .right-column .sort-container button {
        visibility: visible;
        opacity: 1;
        transform: scale(1);
        transition: all 0.5s ease-in-out;
    }

    .right-column .selected-filters-container {
        display: flex;
        overflow-x: scroll;
        white-space: nowrap;
        cursor: grab;
        scrollbar-width: none;
        -ms-overflow-style: none;
        user-select: none;
        -webkit-user-select: none;
        -ms-user-select: none;
    }

    .right-column .selected-filters-container.active {
        cursor: grabbing;
    }

    .selected-filters-container.no-scroll {
        cursor: default;
      }

    .right-column .selected-filters-container::-webkit-scrollbar {
        display: none;
    }

    .right-column .selected-filters-container svg {
        cursor: pointer;
    }
}

@media (min-width: 751px) {
    #left-column {
        animation: filtersUnHidden 0.5s ease-in-out forwards;
    }
}

@media (max-width: 600px) {    
    .right-column .results-container .results-top-bar {
        opacity: 0;
        height: 0;
        transition: all 0.5s ease-in-out;
    }

    .right-column .results-container .song {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        margin-bottom: 1em;
    }

        .right-column .results-container .song .song-info-container {
            grid-column: 1 / 5;
            grid-row: 1 / 3;
            flex-direction: row;
            gap: 1em;
        }

            .right-column .results-container .song .cover {
                height: 9em;
                width: 9em;
                transition: all 0.5s ease-in-out;
            }

        .right-column .results-container .song .date-added {
            visibility: hidden;
        }

        .right-column .results-container .song .duration {
            grid-column: 5 / 6;
            grid-row: 1 / 2;
            align-items: start;
            justify-content: end;
        }

        .right-column .results-container .song .actions {
            grid-column: 3 / 6;
            grid-row: 2 / 3;
            align-items: end;
        }
}
/* Favorites page */
.favorite-container {
    margin: 0 15%;
    margin-top: 3em;
    transition: all 0.5s ease-in-out;
}

.favorite-container h2 {
    color: var(--main-text-color);
    font-size: 2.5em;
    font-weight: 600;
    transition: all 0.5s ease-in-out;
}

.favorite-container .favorite-top-bar {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    border-bottom: 2px solid #5F5F5F;
    margin: 1em 0;
    height: 2em;
    transition: all 0.5s ease-in-out;
}

    .favorite-container .favorite-top-bar span {
        color: #5F5F5F;
        font-weight: 400;
        font-size: 1.2em;
    }

    .favorite-container .favorite-top-bar span:nth-of-type(1) {
        grid-column: 1 / 4;
    }

    .favorite-container .favorite-top-bar span:nth-of-type(2) {
        grid-column: 4 / 6;
        display: flex;
        justify-content: center;
    }

    .favorite-container .favorite-top-bar span:nth-of-type(3) {
        grid-column: 6 / 7;
        display: flex;
        justify-content: center;
    }

        .favorite-container .favorite-top-bar span svg {
            height: 1em;
            fill: #5F5F5F;
        }

    #favorite-songs .song {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    margin-bottom: 1em;
}

    #favorite-songs .song .song-info-container {
        grid-column: 1 / 4;
        display: flex;
        align-items: center;
        gap: 1em;
    }

        #favorite-songs .song .cover {
            height: 6em;
            width: 6em;
            border-radius: 1em;
        }

        #favorite-songs .song .song-info {
            display: flex;
            flex-direction: column;
        }

            #favorite-songs .song .song-info-container span {
                color: var(--main-text-color);
                font-weight: 600;
                font-size: 1.2em;
            }

            #favorite-songs .song .song-info-container span:nth-of-type(2) {
                font-weight: 300;
                font-size: 1em;
            }

    #favorite-songs .song .date-added {
        grid-column: 4 / 6;
        display: flex;
        align-items: center;
        justify-content: center;
        color: var(--main-text-color);
    }

    #favorite-songs .song .duration {
        grid-column: 6 / 7;
        display: flex;
        align-items: center;
        justify-content: center;
        color: var(--main-text-color);
    }

    #favorite-songs .song .actions {
        grid-column: 7 / 9;
        display: flex;
        align-items: center;
        justify-content: end;
        gap: 1em;
    }

        #favorite-songs .song .actions button {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-shrink: 0;
            height: 4em;
            width: 4em;
            background-color: var(--main-link-color);
            border: none;
            border-radius: 50%;
            cursor: pointer;
        }

            #favorite-songs .song .actions button svg {
                fill: var(--main-text-color);
                width: 1.7em;
            }

@media (max-width: 1100px) {
    .favorite-container {
        margin: 0 12%;
        margin-top: 2.5em;
        transition: all 0.5s ease-in-out;
    }
    
    .favorite-container .favorite-top-bar {
        grid-template-columns: repeat(6, 1fr);
    }
    
        .favorite-container .favorite-top-bar span:nth-of-type(1) {
            grid-column: 1 / 3;
        }
    
        .favorite-container .favorite-top-bar span:nth-of-type(2) {
            grid-column: 3 / 5;
            justify-content: center;
        }
    
        .favorite-container .favorite-top-bar span:nth-of-type(3) {
            grid-column: 5 / 7;
            display: flex;
            justify-content: end;
        }
    
        #favorite-songs .song {
        grid-template-columns: repeat(6, 1fr);
    }
    
        #favorite-songs .song .song-info-container {
            grid-column: 1 / 5;
            grid-row: 1 / 3;
            flex-direction: column;
            align-items: start;
        }
    
            #favorite-songs .song .song-info {
                grid-column: 1 / 5;
            }
    
        #favorite-songs .song .date-added {
            grid-column: 3 / 5;
            grid-row: 1 / 2;
            align-items: start;
        }
    
        #favorite-songs .song .duration {
            grid-column: 5 / 7;
            grid-row: 1 / 2;
            align-items: start;
            justify-content: end;
        }
    
        #favorite-songs .song .actions {
            grid-column: 5 / 7;
            grid-row: 2 / 3;
            align-items: end;
        }
}

@media (max-width: 600px) {
    .favorite-container {
        margin: 0 10%;
        margin-top: 2em;
        transition: all 0.5s ease-in-out;
    }

    .favorite-container h2 {
        font-size: 2em;
        font-weight: 500;
        transition: all 0.5s ease-in-out;
    }
    
    .favorite-container .favorite-top-bar {
        opacity: 0;
        height: 0;
        transition: all 0.5s ease-in-out;
    }
    
    #favorite-songs .song {
        grid-template-columns: repeat(5, 1fr);
    }
    
        #favorite-songs .song .song-info-container {
            grid-column: 1 / 5;
            grid-row: 1 / 3;
            flex-direction: row;
        }

            #favorite-songs .song .cover {
                height: 9em;
                width: 9em;
                transition: all 0.5s ease-in-out;
            }
    
        #favorite-songs .song .date-added {
            visibility: hidden;
        }
    
        #favorite-songs .song .duration {
            grid-column: 5 / 6;
            grid-row: 1 / 2;
        }
    
        #favorite-songs .song .actions {
            grid-column: 3 / 6;
            grid-row: 2 / 3;
        }
}

.random{
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: var(--main-link-color);
    color: var(--color-light);
    font-family: var(--main-font);
    cursor: pointer;
    margin-top: 10em;
}

#liedjeWeergave{
    color: var(--color-light);

}

/* Home page */
.home{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: var(--main-text-color);

    padding: 10em;
}

.home a{
    padding: 8px 25px;
    border: none;
    border-radius: 5px;
    background-color: var(--main-link-color);
    color: var(--color-light);
    font-family: var(--main-font);
    font-size: 18px;
    cursor: pointer;
    margin-top: 20px;

    text-decoration: none;
}

.home p{
    font-size: 1.5em;
    padding: 20px;
    text-align: center;
}

/* Confirm pagina */

.confirm{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: var(--main-text-color);
    padding: 10em;
    text-align: center;
}

.confirm h1{
    font-weight: 400;
}

/* friends pagina */

.friends {
    color: var(--main-color-grey);
}