<!DOCTYPE html>
<html lang="en">
    
<head>
    <%- include ('head') %>
  </head>

<body>
    
    <header>

        <%- include ('menu') %>
    </header>

    <main>

    <div class="home">

        <h1>Oh no! 404 not found</h1>
        <p>Sorry, the page you are looking for either does not exist or has been taken down.</P>
        <p>Specific error: <%= error %></p>
    </div>

    </main>

    <footer></footer>

    <script src="static/scripts/multiple.js"></script>

</body>

