<!DOCTYPE html>
<html lang="en">
    
<head>
    <%- include ('head') %>
  </head>

<body>
    
    <header>

        <%- include ('menu') %>
    </header>

    <main>

    <h1 class="kop-difficulty">Choose your difficulty</h1>

    <div class="level">
        <div class="level-grid">
            <button class="level-btn">Amateur</button>
            <button class="level-btn">Beginner</button>
            <button class="level-btn">Intermediate</button>
            <button class="level-btn">Experienced</button>
            <button class="level-btn">Master</button>
        </div>
    </div>

        <div class="progress-buttons">
            <button class="Previous">Previous</button>
            <button class="Next">Next</button>
        </div>
        
    </main>

    <footer></footer>

</body>


</html>