<!DOCTYPE html>
<html lang="en">
    
<head>
    <%- include ('head') %>
  </head>

<body>
    
    <header>

        <%- include ('menu') %>
    </header>

    <main>

    <h1 class="kop-difficulty">Choose your difficulty</h1>

    <form action="#" method="post" class="filter-container" class="form2"></form>
        <ul class="difficulty-container">
          <li class="item">
            <label for="Amateur">
              <input type="checkbox" name="difficulty" id="Amateur" value="Amateur">
              <span>Amateur</span>
            </label>
          </li>
          <li class="item">
            <label for="Beginner">
              <input type="checkbox" name="difficulty" id="Beginner" value="Beginner">
              <span>Beginner</span>
            </label>
          </li>
          <li class="item">
            <label for="Intermediate">
              <input type="checkbox" name="difficulty" id="Intermediate" value="Intermediate">
              <span>Intermediate</span>
            </label>
          </li>
          <li class="item">
            <label for="Experienced">
              <input type="checkbox" name="difficulty" id="Experienced" value="Experienced">
              <span>Experienced</span>
            </label>
          </li>
          <li class="item">
            <label for="Master">
              <input type="checkbox" name="difficulty" id="Master" value="Master">
              <span>Master</span>
            </label>
          </li>
        </ul>

        <div class="progress-buttons">
          <button class="Previous"><img src="/static/images/arrow-left.svg" alt="">Previous</button>
          <button class="Next" type="submit">Next <img src="/static/images/arrow-right.svg" alt=""></button>
        </div>
      </form>
        
    </main>

    <footer></footer>

    <script src="/static/scripts/animatie.js"></script>

</body>


</html>