<!DOCTYPE html>
<html lang="en">
    
<head>
    <%- include ('head') %>
  </head>

<body>
    
    <header>

        <%- include ('menu') %>
    </header>

    <main>

    <h1 class="kop-difficulty">Choose your difficulty</h1>

    <div class="level">
        <div class="level-grid">
            <button class="level-btn">Amateur</button>
            <button class="level-btn">Beginner</button>
            <button class="level-btn">Intermediate</button>
            <button class="level-btn">Experienced</button>
            <button class="level-btn">Master</button>
        </div>
    </div>

        <div class="progress-buttons">
            <a href="/genre" class="Previous"><img src="/static/images/arrow-left.svg" alt="">Previous</a>
            <a href="/filter-sorteer" class="Next">Next <img src="/static/images/arrow-right.svg" alt=""></a>
        </div>
        
    </main>

    <footer></footer>

    <script src="static/scripts/multiple.js"></script>

</body>


</html>