<!DOCTYPE html>
<html lang="en">
    
<head>
    <%- include ('head') %>
  </head>

<body>
    
    <header>

        <%- include ('menu') %>
    </header>

    <main>

        <h1>Add your friends!</h1>
        <ul>
            <% users.forEach(user => { %>
                <li class="friends"><%= user.username %></li>
                <form action="/addFriend" method="POST">
                    <input type="hidden" name="friend" value="<%= user.username %>">
                    <button type="submit">Add Friend</button>
                </form>
            <% }) %>
        </ul>
    
    </main>

    <footer></footer>

    <script src="static/scripts/multiple.js"></script>

</body>


</html>