<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include ('head') %>
  </head>

  <body>
    <header><%- include ('menu') %></header>

    <main>
     
        <h1 class="kop-genre">Choose your genre</h1>

      <div class="genre-grid">
        <button class="genre-button">Rock</button>
        <button class="genre-button">Metal</button>
        <button class="genre-button">Pop</button>
        <button class="genre-button">R&B</button>
        <button class="genre-button">Jazz</button>
        <button class="genre-button">Soul</button>
        <button class="genre-button">Classic</button>
        <button class="genre-button">Country</button>
        <button class="genre-button">Hip-Hop</button>
        <button class="genre-button">Electronic</button>
        <button class="genre-button">Alternative</button>
        <button class="genre-button">House</button>
      </div>

      <div class="progress-buttons">
        <a href="/instrument" class="Previous"><img src="./Images/arrow-left.svg" alt="">Previous</a>
        <a href="/difficulty" class="Next">Next <img src="./Images/arrow-right.svg" alt=""></a>
      </div>
    </main>

    <footer></footer>

    <script src="static/scripts/multiple.js"></script>

  </body>
</html>
