<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include ('head') %>
  </head>

  <body>
    <header><%- include ('menu') %></header>

    <main>
     
      <h1 class="kop-genre">Choose your genre</h1> 

      <form action="/difficulty" method="post" class="filter-container" class="form3">
        <ul>
          <li class="item">
            <label for="Rock">
              <input type="checkbox" name="Rock" id="Rock" value="Rock">
              <span>Rock</span>
            </label>
          </li>
          <li class="item">
            <label for="Metal">
              <input type="checkbox" name="Metal" id="Metal" value="Metal">
              <span>Metal</span>
            </label>
          </li>
          <li class="item"> 
            <label for="Pop">
              <input type="checkbox" name="Pop" id="Pop" value="Pop">
              <span>Pop</span>
            </label>
          </li>
          <li class="item">
            <label for="R&B">
              <input type="checkbox" name="R&B" id="R&B" value="R&B">
              <span>R&B</span>
            </label>
          </li>
          <li class="item">
            <label for="Jazz">
              <input type="checkbox" name="Jazz" id="Jazz" value="Jazz">
              <span>Jazz</span>
            </label>
          </li>
          <li class="item">
            <label for="Soul">
              <input type="checkbox" name="Soul" id="Soul" value="Soul">
              <span>Soul</span>
            </label>
          </li>
          <li class="item">
            <label for="Classic">
              <input type="checkbox" name="Classic" id="Classic" value="Classic">
              <span>Classic</span>
            </label>
          </li>
          <li class="item">
            <label for="Country">
              <input type="checkbox" name="Country" id="Country" value="Country">
              <span>Country</span>
            </label>
          </li>
          <li class="item">
            <label for="Hip-Hop">
              <input type="checkbox" name="Hip-Hop" id="Hip-Hop" value="Hip-Hop">
              <span>Hip-Hop</span>
            </label>
          </li>
          <li class="item">
            <label for="Electronic">
              <input type="checkbox" name="Electronic" id="Electronic" value="Electronic">
              <span>Electronic</span>
            </label>
          </li>
          <li class="item">
            <label for="Alternative">
              <input type="checkbox" name="Alternative" id="Alternative" value="Alternative">
              <span>Alternative</span>
            </label>
          </li>
          <li class="item">
            <label for="House">
              <input type="checkbox" name="House" id="House" value="House">
              <span>House</span>
            </label>
          </li>
        </ul>

        <div class="progress-buttons">
          <button class="Previous"><img src="/static/images/arrow-left.svg" alt="">Previous</button>
          <button class="Next" type="submit">Next <img src="/static/images/arrow-right.svg" alt=""></button>
        </div>
      </form>
    
    </main>

    <footer></footer>

    <script src="/static/scripts/animatie.js"></script>
  

  </body>
</html>
