<!DOCTYPE html>
<html lang="en">
    
<head>
    <%- include ('head') %>
  </head>

<body>
    
    <header>

        <%- include ('menu') %>
    </header>

    <main>

    <div class="home">

        <h1>Search Your next Piece </h1>

        <p>Let MyJam Inspire you with countless new songs that elevate your music journey to the next level!</p>

        <a href="/instrument">Find your jam</a>

    </div>

    </main>

    <footer></footer>

    <script src="/static/scripts/clear-filter-storage.js"></script>

</body>


</html>