<!DOCTYPE html>
<html lang="en">
    
<head>
    <%- include ('head') %>
  </head>

<body>
    
    <header>

        <%- include ('menu') %>
    </header>

    <main>
        <h1 class="kop-instrument">Choose your instruments</h1>

        <!-- <div class="instrument-grid">
            <button class="instrument-button" id="Electric-guitar">Electric guitar</button>
            <button class="instrument-button" id="Acoustic-guitar">Acoustic guitar</button>
            <button class="instrument-button" id="Bass-guitar">Bass guitar</button>
            <button class="instrument-button" id="Drums">Drums</button>
            <button class="instrument-button" id="Piano">Piano</button>
            <button class="instrument-button" id="Ukelele">Ukelele</button>
            <button class="instrument-button" id="Violin">Violin</button>
            <button class="instrument-button" id="Trumpet">Trumpet</button>
            <button class="instrument-button" id="Saxophone">Saxophone</button>
            <button class="instrument-button" id="Flute">Flute</button>
            <button class="instrument-button" id="Accordion">Accordion</button>
            <button class="instrument-button" id="Cello">Cello</button>
        </div> -->

        <!-- <form class="instrument-grid">
            <label class="instrument-button" for="Electric-guitar" id="Electric-guitar">
                <input type="checkbox" name="instruments" value="Electric-guitar">
                <span>Electric guitar</span>
            </label>
            <label class="instrument-button" for="Acoustic-guitar" id="Acoustic-guitar">
                <input type="checkbox" name="instruments" value="Acoustic-guitar">
                <span>Acoustic guitar</span>
            </label>
            <label class="instrument-button" for="Bass-guitar" id="Bass-guitar">
                <input type="checkbox" name="instruments" value="Bass-guitar">
                <span>Bass guitar</span>
            </label>
            <label class="instrument-button" for="Drums" id="Drums">
                <input type="checkbox" name="instruments" value="Drums">
                <span>Drums</span>
            </label>
            <label class="instrument-button" for="Piano" id="Piano">
                <input type="checkbox" name="instruments" value="Piano">
                <span>Piano</span>
            </label>
            <label class="instrument-button" for="Ukelele" id="Ukelele">
                <input type="checkbox" name="instruments" value="Ukelele">
                <span>Ukelele</span>
            </label>
            <label class="instrument-button" for="Violin" id="Violin">
                <input type="checkbox" name="instruments" value="Violin">
                <span>Violin</span>
            </label>
            <label class="instrument-button" for="Trumpet" id="Trumpet">
                <input type="checkbox" name="instruments" value="Trumpet">
                <span>Trumpet</span>
            </label>
            <label class="instrument-button" for="Saxophone" id="Saxophone">
                <input type="checkbox" name="instruments" value="Saxophone">
                <span>Saxophone</span>
            </label>
            <label class="instrument-button" for="Flute" id="Flute">
                <input type="checkbox" name="instruments" value="Flute">
                <span>Flute</span>
            </label>
            <label class="instrument-button" for="Accordion" id="Accordion">
                <input type="checkbox" name="instruments" value="Accordion">
                <span>Accordion</span>
            </label>
            <label class="instrument-button" for="Cello" id="Cello">
                <input type="checkbox" name="instruments" value="Cello">
                <span>Cello</span>
            </label>
        </form>

        <div class="progress-buttons">
            <a href="/genre" class="Next">Next <img src="/static/images/arrow-right.svg" alt=""></a>
        </div> -->

        <form action="#" method="post" class="filter-container">
            <ul>
                <li>
                    <label for="Electric-guitar">
                        <input type="checkbox" name="Electric-guitar" id="Electric-guitar" value="Electric-guitar">
                        <span>Electric guitar</span>
                    </label>
                </li>
                <li>
                    <label for="Acoustic-guitar">
                        <input type="checkbox" name="Acoustic-guitar" id="Acoustic-guitar" value="Acoustic-guitar">
                        <span>Acoustic guitar</span>
                    </label>
                </li>
                <li>
                    <label for="Bass-guitar">
                        <input type="checkbox" name="Bass-guitar" id="Bass-guitar" value="Bass-guitar">
                        <span>Bass guitar</span>
                    </label>
                </li>
                <li>
                    <label for="Drums">
                        <input type="checkbox" name="Drums" id="Drums" value="Drums">
                        <span>Drums</span>
                    </label>
                </li>
                <li>
                    <label for="Piano">
                        <input type="checkbox" name="Piano" id="Piano" value="Piano">
                        <span>Piano</span>
                    </label>
                </li>
                <li>
                    <label for="Ukelele">
                        <input type="checkbox" name="Ukelele" id="Ukelele" value="Ukelele">
                        <span>Ukelele</span>
                    </label>
                </li>
                <li>
                    <label for="Violin">
                        <input type="checkbox" name="Violin" id="Violin" value="Violin">
                        <span>Violin</span>
                    </label>
                </li>
                <li>
                    <label for="Trumpet">
                        <input type="checkbox" name="Trumpet" id="Trumpet" value="Trumpet">
                        <span>Trumpet</span>
                    </label>
                </li>
                <li>
                    <label for="Saxophone">
                        <input type="checkbox" name="Saxophone" id="Saxophone" value="Saxophone">
                        <span>Saxophone</span>
                    </label>
                </li>
                <li>
                    <label for="Flute">
                        <input type="checkbox" name="Flute" id="Flute" value="Flute">
                        <span>Flute</span>
                    </label>
                </li>
                <li>
                    <label for="Accordion">
                        <input type="checkbox" name="Accordion" id="Accordion" value="Accordion">
                        <span>Accordion</span>
                    </label>
                </li>
                <li>
                    <label for="Cello">
                        <input type="checkbox" name="Cello" id="Cello" value="Cello">
                        <span>Cello</span>
                    </label>
                </li>
            </ul>

        <div class="progress-buttons">
            <button class="Next" type="submit">Next <img src="/static/images/arrow-right.svg" alt=""></button>
        </div>

        </form>

    </main>


    <footer></footer>

    <script src="/static/scripts/multiple.js"></script>

</body>


</html>