<!DOCTYPE html>
<html lang="en">
    
<head>
    <%- include ('head') %>
  </head>

<body>
    
    <header>

        <%- include ('menu') %>
    </header>

    <main>
        <h1 class="kop-instrument">Choose your instruments</h1>

        <div class="instrument-grid">
            <button class="instrument-button" id="Electric-guitar">Electric guitar</button>
            <button class="instrument-button" id="Acoustic-guitar">Acoustic guitar</button>
            <button class="instrument-button" id="Bass-guitar">Bass guitar</button>
            <button class="instrument-button" id="Drums">Drums</button>
            <button class="instrument-button" id="Piano">Piano</button>
            <button class="instrument-button" id="Ukelele">Ukelele</button>
            <button class="instrument-button" id="Violin">Violin</button>
            <button class="instrument-button" id="Trumpet">Trumpet</button>
            <button class="instrument-button" id="Saxophone">Saxophone</button>
            <button class="instrument-button" id="Flute">Flute</button>
            <button class="instrument-button" id="Accordion">Accordion</button>
            <button class="instrument-button" id="Cello">Cello</button>
        </div>

        <div class="progress-buttons">
            <a href= "/genre" class="Next">Next <img src="./Images/arrow-right.svg" alt=""></a>
        </div>
    </main>

    <footer></footer>

    <script src="/scripts/multiple.js"></script>

</body>


</html>