<!DOCTYPE html>
<html lang="en">
    
<head>
    <%- include ('head') %>
  </head>

<body>
    
    <header>

        <%- include ('menu') %>
    </header>

    <main>
        <h1 class="kop-instrument">Choose your instruments</h1>

        <form action="#" method="post" class="filter-container" class="form1">
            <ul>
                <li>
                    <label for="Electric-guitar">
                        <input type="checkbox" name="Electric-guitar" id="Electric-guitar" value="Electric-guitar">
                        <span>Electric guitar</span>
                    </label>
                </li>
                <li>
                    <label for="Acoustic-guitar">
                        <input type="checkbox" name="Acoustic-guitar" id="Acoustic-guitar" value="Acoustic-guitar">
                        <span>Acoustic guitar</span>
                    </label>
                </li>
                <li>
                    <label for="Bass-guitar">
                        <input type="checkbox" name="Bass-guitar" id="Bass-guitar" value="Bass-guitar">
                        <span>Bass guitar</span>
                    </label>
                </li>
                <li>
                    <label for="Drums">
                        <input type="checkbox" name="Drums" id="Drums" value="Drums">
                        <span>Drums</span>
                    </label>
                </li>
                <li>
                    <label for="Piano">
                        <input type="checkbox" name="Piano" id="Piano" value="Piano">
                        <span>Piano</span>
                    </label>
                </li>
                <li>
                    <label for="Ukelele">
                        <input type="checkbox" name="Ukelele" id="Ukelele" value="Ukelele">
                        <span>Ukelele</span>
                    </label>
                </li>
                <li>
                    <label for="Violin">
                        <input type="checkbox" name="Violin" id="Violin" value="Violin">
                        <span>Violin</span>
                    </label>
                </li>
                <li>
                    <label for="Trumpet">
                        <input type="checkbox" name="Trumpet" id="Trumpet" value="Trumpet">
                        <span>Trumpet</span>
                    </label>
                </li>
                <li>
                    <label for="Saxophone">
                        <input type="checkbox" name="Saxophone" id="Saxophone" value="Saxophone">
                        <span>Saxophone</span>
                    </label>
                </li>
                <li>
                    <label for="Flute">
                        <input type="checkbox" name="Flute" id="Flute" value="Flute">
                        <span>Flute</span>
                    </label>
                </li>
                <li>
                    <label for="Accordion">
                        <input type="checkbox" name="Accordion" id="Accordion" value="Accordion">
                        <span>Accordion</span>
                    </label>
                </li>
                <li>
                    <label for="Cello">
                        <input type="checkbox" name="Cello" id="Cello" value="Cello">
                        <span>Cello</span>
                    </label>
                </li>
            </ul>

        <div class="progress-buttons">
            <button class="Next" type="submit">Next <img src="/static/images/arrow-right.svg" alt=""></button>
        </div>

        </form>

    </main>


    <footer></footer>

    <script src="/static/scripts/session.js"></script>

</body>


</html>