<!DOCTYPE html>
<html lang="en">
    
<head>
    <%- include ('head') %>
  </head>

<body>
    
    <header>

        <%- include ('menu') %>
    </header>

    <main>
        <h1 class="kop-instrument">Choose your instruments</h1>

        <div class="instrument-grid">
            <button class="instrument-button">Electric guitar</button>
            <button class="instrument-button">Acoustic guitar</button>
            <button class="instrument-button">Bass guitar</button>
            <button class="instrument-button">Drums</button>
            <button class="instrument-button">Piano</button>
            <button class="instrument-button">Ukelele</button>
            <button class="instrument-button">Violin</button>
            <button class="instrument-button">Trumpet</button>
            <button class="instrument-button">Saxophone</button>
            <button class="instrument-button">Flute</button>
            <button class="instrument-button">Accordion</button>
            <button class="instrument-button">Cello</button>
        </div>

        <div class="progress-buttons">
            <a href= "/genre" class="Next">Next <img src="./Images/arrow-right.svg" alt=""></a>
        </div>
    </main>

    <footer></footer>

    <script src="/scripts/multiple.js"></script>

</body>


</html>