<!DOCTYPE html>
<html lang="en">
  <head>

    <%- include ('head') %>

  </head>
  <body>
    <header><%- include ('menu') %></header>

    <main class="inloggen">
      <div class="login">
        <div class="inner-login">
          <h1 class="form-title">Log in</h1>
          <form action="/submitInlog" method="POST">
            <label for="username">Username</label>
            <input type="text" name="username" />

            <label for="password">Password</label>
            <input type="password" name="password" />

            <button type="submit">Log in</button>
            <a href="/register">Account aanmaken</a>
            <a href="/forgot">Forgot Password?</a>
          </form>
        </div>
      </div>
    </main>

    <footer></footer>
  </body>
</html>
