<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sign in</title>
    <link rel="stylesheet" href="static/css/styles.css">
  </head>
  <body>
    <header>

        <%- include ('menu') %>
    </header>

    <main>
      <form action="/submitInlog" method="POST">
        <label for="username">username</label>
        <input type="text" name="username" />

        <label for="password">password</label>
        <input type="password" name="password" />

        <button type="submit">Log in</button>
      </form>
    </main>

    <footer></footer>
  </body>
</html>
