<!DOCTYPE html>
<html lang="en">
  <head>
  
    <%- include ('head') %>

  </head>
  <body>
    <header>
        <%- include ('menu') %>
    </header>

    <% if (username) { %>
      <h1>Welcome, <%= username %>!</h1>
      <a href="/logout">Logout</a>
    <% } else { %>
      <h1>Welcome to our website!</h1>
      <a href="/login">Login</a>
      <a href="/register">Register</a>
    <% } %>


    <main>
      <form action="/registerAccount" method="POST">
        <label for="email">email</label>
        <input type="text" name="email" />

        <label for="username">username</label>
        <input type="text" name="username" />

        <label for="password">password</label>
        <input type="password" name="password" />

        <button type="submit">Sign up</button>
      </form>

      <% if (error) { %>
        <p><%= error %></p>
      <% } %>
    </main>

    <footer></footer>
  </body>
</html>
