<!DOCTYPE html>
<html lang="en">
  <head>
  
    <%- include ('head') %>

  </head>
  <body>
    <header><%- include ('menu') %></header>


    <main>
      <div class="login">
        <div class="inner-login">
          <h1>Sign up</h1>
          <form action="/registerAccount" method="POST">
            <label for="email">Email</label>
            <input type="text" name="email" />

            <label for="username">Username</label>
            <input type="text" name="username" />


            <label for="password">Password</label>
            <input type="password" name="password" />

            <p class="ErrorMessage"><%= error %></p>
            <button type="submit">Sign up</button>
            <a href="/login">Log in</a>
          </form>
        </div>
      </div>

    </main>

    <footer></footer>
  </body>
</html>
